#svg {
		width: 700px;
		height: 700px;
		border : solid 1px rgb(0, 64, 128);
	}


.traceRegulateur {
	fill: transparent;
	stroke: coral;
	stroke-opacity: .9;
	stroke-width: 1
}

.trace {
	fill: transparent;
	stroke: cadetblue;
	stroke-width: 2px;
}

.plain {
	fill:transparent;
	
}

.ying {
	fill: transparent;
	stroke: cadetblue;
	stroke-width: 1px;
}

.yang {
	fill: coral;
	stroke: coral;
	stroke-width: 1px;
}

.pin {
	fill:navy;
	stroke: navy;
	stroke-width: 1px;
}

.tooltip {
	stroke:darkcyan;
	stroke-width: 1px;
}

.liveexample {
	fill: transparent;
	stroke: cadetblue;
	stroke-width: 2px;
}

.hidden {
	opacity: 0;
	visibility: hidden;
}