
<div class="container">
	<div class="row">
    	<div class="column column-70"><svg id="svg" ></svg></div>
    	<div class="column ">

<form id="app">
  <fieldset>
    <div >
      <input type="checkbox" id="displayTraceRegulateur" 
			v-model="displayTraceRegulateur"
			v-on:change="displayTraceRegulateurValueChangeHandler">
      <label class="label-inline" for="displayTraceRegulateur">Afficher le tracé régulateur</label>
    </div>

{{ message }}

  </fieldset>
</form>

		</div>
  	</div>

</div>
	
  